In [28]:
import requests
import pandas as pd
import json

In [29]:
r1 = requests.get("https://opendata.maryland.gov/resource/py4c-dicf.json")
r2 = requests.get("https://opendata.maryland.gov/resource/mhft-5t5y.json")
r3 = requests.get("https://opendata.maryland.gov/resource/2tch-tbsk.json")
r4 = requests.get("https://opendata.maryland.gov/resource/q6mx-6mk8.json")
r5 = requests.get("https://opendata.maryland.gov/resource/2vue-d9ad.json")

In [51]:
person_data = pd.read_json(json.dumps(r1.json()))
clean_peo_data = person_data[["sex_desc", "condition_desc", "person_type_desc","inj_sever_desc"]].dropna()
#More about purifying
# Possible aspect: Body condition, driver? ped?, injury, Sex,(alco&drug)
#clean_peo_data

In [49]:
clean_peo_data.head()

  sex_desc     condition_desc person_type_desc                  inj_sever_desc
0   Female  Apparently Normal           Driver                       No Injury
4   Female  Apparently Normal           Driver                       No Injury
5   Female  Apparently Normal           Driver                       No Injury
6     Male  Apparently Normal       Pedestrian  Possible Incapacitating Injury
9     Male  Apparently Normal           Driver                       No Injury

Weather, person_condition, car type, Person_crush reason, road condition,

In [55]:
car_data = pd.read_json(json.dumps(r2.json()))
clean_car_data = car_data[["movement_desc", "veh_make", "veh_year"]].dropna()
clean_car_data.head()
# Possible aspect: Movement,car brand, year

             movement_desc   veh_make  veh_year
1    Moving Constant Speed     TOYOTA    2018.0
2  Stopped in Traffic Lane  CHEVROLET    2019.0
4      Slowing or Stopping      HONDA    2002.0
5                   Parked       FORD    2009.0
6    Moving Constant Speed       HOND    2017.0

In [57]:
road_data

    contrib_code_desc  year quarter    report_no contrib_type  contrib_code
0      Not Applicable  2020      Q2   ZG0974002R         Road           0.0
1      Not Applicable  2020      Q2  MSP7182002F         Road           0.0
2      Not Applicable  2020      Q2   RD0119001K         Road           0.0
3      Not Applicable  2020      Q2  MCP2536002R         Road           0.0
4      Not Applicable  2020      Q2  MSP65770077         Road           0.0
..                ...   ...     ...          ...          ...           ...
995    Not Applicable  2020      Q2   AE6211003Z         Road           0.0
996    Not Applicable  2020      Q2   CB4906006H         Road           0.0
997               Wet  2020      Q2   ZR0297005R         Road          61.0
998    Not Applicable  2020      Q2   ADK099001Y         Road           0.0
999    Not Applicable  2020      Q2   AE58040068         Road           0.0

[1000 rows x 6 columns]

In [61]:
road_data = pd.read_json(json.dumps(r3.json()))
clean_road_data = road_data[["contrib_code_desc","year","contrib_type"]].dropna()
data = clean_road_data.loc[clean_road_data["contrib_code_desc"] != "Not Applicable"]
data.head()

# rode condi.

   contrib_code_desc  year contrib_type
18               Wet  2020         Road
35               Wet  2020         Road
39               Wet  2020         Road
41               Wet  2020         Road
50               Wet  2020         Road

In [62]:
weather_data = pd.read_json(json.dumps(r4.json()))
clean_w_data =weather_data[["contrib_code_desc","year","contrib_type"]].dropna()
data2 = clean_w_data.loc[clean_w_data["contrib_code_desc"] != "Not Applicable"]
data2.head()
# weather condi.

                                contrib_code_desc  year contrib_type
1                                      Rain, Snow  2016      Weather
4                      Sleet, Hail, Freezing Rain  2016      Weather
13                                     Rain, Snow  2015      Weather
15                                     Rain, Snow  2015      Weather
18  Vision Obstruction (including blinded by sun)  2015      Weather

In [64]:
reason_data = pd.read_json(json.dumps(r5.json()))
clean_reason_data =reason_data[["contrib_desc","year","contrib_type"]].dropna()
data3 = clean_reason_data.loc[clean_reason_data["contrib_desc"] != "Not Applicable"]
data3.head()

                  contrib_desc  year contrib_type
3         Improper Lane Change  2015       Person
4             Improper Passing  2015       Person
9        Other Improper Action  2015       Person
10  Under Influence of Alcohol  2015       Person
12            Improper Backing  2019       Person