In [28]:
import requests
import pandas as pd
import json

In [29]:
r1 = requests.get("https://opendata.maryland.gov/resource/py4c-dicf.json")
r2 = requests.get("https://opendata.maryland.gov/resource/mhft-5t5y.json")
r3 = requests.get("https://opendata.maryland.gov/resource/2tch-tbsk.json")
r4 = requests.get("https://opendata.maryland.gov/resource/q6mx-6mk8.json")
r5 = requests.get("https://opendata.maryland.gov/resource/2vue-d9ad.json")

In [44]:
person_data = pd.read_json(json.dumps(r1.json()))
person_data.head()
df33 = person_data[["sex_desc", "condition_desc", "person_type_desc","inj_sever_desc"]]
# Possible aspect: Body condition, driver? ped?, injury, Sex,(alco&drug)
df33

,sex_desc,condition_desc,person_type_desc,inj_sever_desc
0,Female,Apparently Normal,Driver,No Injury
1,Male,NaN,Occupant,Non-incapacitating Injury
2,Female,NaN,Occupant,Possible Incapacitating Injury
3,Male,NaN,Occupant,No Injury
4,Female,Apparently Normal,Driver,No Injury
...,...,...,...,...
995,Male,Apparently Normal,Driver,No Injury
996,Male,Apparently Normal,Driver,No Injury
997,Male,Had Been Drinking,Driver,No Injury
998,Male,Apparently Normal,Driver,No Injury
999,Female,Apparently Normal,Driver,No Injury

In [38]:
person_data

,sex_desc,sex_code,condition_desc,condition_code,inj_sever_desc,inj_sever_code,report_no,person_type_desc,person_type,alcohol_test_desc,...,ped_type_desc,ped_type_code,ped_location_code,movement_desc,movement_code,alcohol_testtype_desc,alcohol_testtype_code,bac_code,drug_testresult_desc,drug_testresult_code
0,Female,F,Apparently Normal,1.0,No Injury,1,AE59920005,Driver,D,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Male,M,NaN,NaN,Non-incapacitating Injury,2,DA40650004,Occupant,O,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Female,F,NaN,NaN,Possible Incapacitating Injury,3,ZU7729000P,Occupant,O,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Male,M,NaN,NaN,No Injury,1,CT8278002X,Occupant,O,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Female,F,Apparently Normal,1.0,No Injury,1,DA3660000B,Driver,D,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Male,M,Apparently Normal,1.0,No Injury,1,AE4431001P,Driver,D,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,Male,M,Apparently Normal,1.0,No Injury,1,ADE8780035,Driver,D,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,Male,M,Had Been Drinking,2.0,No Injury,1,ZJ0435000L,Driver,D,Evidence Test Given,...,NaN,NaN,NaN,NaN,NaN,Breath,1.0,0.08,NaN,NaN
998,Male,M,Apparently Normal,1.0,No Injury,1,CBPD00800054,Driver,D,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,Female,F,Apparently Normal,1.0,No Injury,1,AC22190017,Driver,D,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Weather, person_condition, car type, Person_crush reason, road condition,

In [31]:
car_data = pd.read_json(json.dumps(r2.json()))
car_data.head()
# Possible aspect: Movement,car brand, year

,harm_event_desc,harm_event_code,conti_direction_desc,conti_direction_code,damage_desc,damage_code,movement_desc,movement_code,report_no,veh_make,...,body_type_code,driverless_flag_desc,cv_body_type_desc,cv_body_type_code,num_axles,gvw_desc,gvw_code,hzm_num,hazmat_spill_flag_desc,hazmat_spill_flag
0,Other Vehicle,1,North,N,Unknown,99,Unknown,99.0,AE5057004X,UNKNOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Other Vehicle,1,North,N,Superficial,2,Moving Constant Speed,1.0,MSP7221001P,TOYOTA,...,2.00,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Other Vehicle,1,South,S,Functional,3,Stopped in Traffic Lane,6.0,DA37010040,CHEVROLET,...,23.08,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fixed Object,9,Unknown,U,Unknown,99,Not Applicable,0.0,MDTA1791002C,UNKNOWN,...,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Other Vehicle,1,East,E,Disabling,4,Slowing or Stopping,3.0,AE456100BL,HONDA,...,2.00,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
road_data = pd.read_json(json.dumps(r3.json()))
road_data.head()
# rode condi.

  contrib_code_desc  year quarter    report_no contrib_type  contrib_code
0    Not Applicable  2020      Q2   ZG0974002R         Road           0.0
1    Not Applicable  2020      Q2  MSP7182002F         Road           0.0
2    Not Applicable  2020      Q2   RD0119001K         Road           0.0
3    Not Applicable  2020      Q2  MCP2536002R         Road           0.0
4    Not Applicable  2020      Q2  MSP65770077         Road           0.0

In [33]:
weather_data = pd.read_json(json.dumps(r4.json()))
weather_data.head()
# weather condi.

,contrib_code_desc,year,quarter,report_no,contrib_type,contrib_code
0,Not Applicable,2016,Q4,DE3160002X,Weather,0.0
1,"Rain, Snow",2016,Q4,MSP61440074,Weather,45.0
2,Not Applicable,2016,Q4,AE55770014,Weather,0.0
3,Not Applicable,2016,Q4,ADI974003Q,Weather,0.0
4,"Sleet, Hail, Freezing Rain",2016,Q4,DE1181000P,Weather,42.0

In [34]:
reason_data = pd.read_json(json.dumps(r5.json()))
reason_data.head()

,contrib_desc,year,quarter,report_no,contrib_type,contrib_code,person_id
0,Not Applicable,2015,Q2,MSP6376002G,Person,0.0,dde89c77-bdd1-4a32-8aa7-18abd86ec44a
1,Not Applicable,2015,Q2,ZD5880000Q,Person,0.0,7c8fe502-0d62-466c-99c2-676ccfbdda23
2,Not Applicable,2015,Q2,ZD5880000Q,Person,0.0,415a2376-a3c9-435f-97dd-38897362544b
3,Improper Lane Change,2015,Q2,CB5671000J,Person,24.0,d9d55ddc-36a7-4143-ae8e-392f57fbc791
4,Improper Passing,2015,Q2,CB5671000J,Person,26.0,d9d55ddc-36a7-4143-ae8e-392f57fbc791